@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral */
    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

*,
::before,
::after {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: 'Outfit', sans-serif;
}

body {
    background: var(--mainBG);

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    background: var(--cardBG);

    width: 500px;
    height: 500px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}

#card>div {
    width: 100%;

    margin-bottom: 10px;
}

#nbVerres input,
#temps input {
    width: 100%;
}

#side {
    display: flex;
    justify-content: space-between;
}

#side>div {
    width: 40%;
}

input[type="number"],
select {
    height: 30px;
    width: 100%;
    
    padding: 5px;

    border-radius: 5px;
}



h1,
h2,
p,
label {
    color: white;
}

h1 {
    margin-bottom: 25px;
}

#resultat {
    margin-top: 5px;
    margin-bottom: 0;
}

#resultat p {
    margin-bottom: 5px;
}

b {
    font-weight: 400;
    color: var(--cyan);
}

#indications {
    margin-top: 15px;
    padding: 5px;

    border-radius: 5px;

    background: var(--soft-blue);
}

#indications p {
    color: var(--line);
}